{% extends 'base.html' %}

{% block breadcrumbs %}
{% with post.tags.all as tags %}
{% if tags %}
<p>Теги:</p>
<ul class="tags-list">
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}}



{% block content %}
<!--Заголовок статьи-->
<h1>{{post.title}}</h1>

<!--Отображение изображения, если оно есть-->
{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}


<!--Отображение содержимого статьи, и добавляем фильтр для переноса строк -->
{{post.content|linebreaks}}

{% for comment in comment_text %}
<div class="comment-text" style="font-size: 14px">
<!--     style="font-size: 14px" -->

        <p class="comment"> <em> Пользователь - {{comment.user}} / Дата создания - {{comment.created_at}} </em></p>
        <p class="text_comment"> {{comment.comment|linebreaks}} </p>
</div>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}

    <p>Добавить комментарий</p>
    {{ comment.comment }}
    <p>
        <button type="submit">Отправить</button>
    </p>
</form>

{% endblock %}